@font-face {
    font-family: asd;
    src: url(..//assets/fonts/Figtree-ExtraBold.ttf);
}
@font-face {
    font-family: p;
    src: url(..//assets/fonts/Figtree-SemiBold.ttf);
}
body{
    background-color: rgb(244, 208, 78);
    font-family: 'asd';
    text-align: center;
    height: calc(100vh - 16px);
}


p{
    font-family: 'p';
}
p.text{
    opacity: 0.4;
}
svg{
    border-radius: 12px;
}
div.contest{
    background-color: white;
    display: inline-block;
    padding: 16px;
    border:1px solid;
    border-radius: 20px;
    box-shadow: 5px 10px black;
    position: absolute;
    top: 50%;
    translate: -50% -50%;
}
div.flex{
    position: relative;
    display: flex;
    gap: 10px;
}
div.flex div{
    position: absolute;
    translate: 70% 70%;
}
div.flex img{
    width: 50px; 
    height: 50px;
}
a{
    text-decoration: none;
    color: black;
}
h2:hover{
    color: rgb(244, 208, 78);
}